<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Manager App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    
      <header class="header">
         <nav class="navbar navbar-expand-lg navbar-dark bg-info rounded">

          <a class="navbar-brand" href="/">ManagerApp</a>

          <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#main-navbar">
            <span class="navbar-toggler-icon"></span>
          </button>


          <%= if @current_user do %>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
               <%= link "Tasks", to: page_path(@conn, :index), class: "nav-link" %>
             </li>
             <li class="nav-item">
               <%= link "Teams", to: page_path(@conn, :index), class: "nav-link" %>
             </li>
           </ul>
           <% end %>


            <ul class="navbar-nav ml-auto">
            

          <%= if @current_user do %>
            <%= @current_user.name %>
            <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "google" %>">
              <i class="fa fa-google"></i>
              Sign in with Google
            </a>
          <% end %>

            </ul>

        </nav>
      </header>

      <div class="container">

      <%= if get_flash(@conn, :info) do %> 
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %> 
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
