<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Manager App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
         <nav class="navbar navbar-inverse navbar-expand-md">

          <a class="navbar-brand" href="/">Manager</a>

          <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#main-navbar">
          <span class="navbar-toggler-icon"></span>
          </button>


          <%= if @current_user do %>
            <img src="<%= @current_user.avatar %>" class="img-circle"/>
            <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <br>
            <br>

            <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "google" %>">
              <i class="fa fa-google"></i>
              Sign in with Google
            </a>
          <% end %>

        </nav>

      </header>


    </div>

  </br>

      <%= if get_flash(@conn, :info) do %> 
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %> 
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
